body {
    background: #555;
}

* {
    color: white; 
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}
a{
    color:white;

}
h1, p {
    text-align: center;
}
#content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    place-content: center;
    display: grid;
    grid-template-columns: repeat(5, 30px);
    grid-template-rows: repeat(5, 30px);
    gap: 40px;
    z-index:-3;
}

.goat {
    width: 60px;
    height: 60px;
    font-size: 50px;
}

.box {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    overflow: visible;
    text-align: center;
    position: relative;
    border-radius: 22px;
    background: gray;
    cursor: pointer;
    box-shadow: inset 5px 5px 10px #a8a8a8, inset -5px -5px 10px #ffffff;
}

canvas {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
   /* Center the canvas */
    z-index:-4;
}
